
  font-family: "Oxygen";
  font-size: 14px;
  padding: 15px 0;
}
.client_home_two_txt p {
  color: #999;
  padding-bottom: 21px;
  line-height: 28px;
  margin: 0;
}
body#home_two .testi_prev, body#home_two .testi_next {
  color: #36383f;
  font-size: 40px;
  top: 62%;
}
.blog_feed_home > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.blog_feed_home li {
  border-right: 1px solid #b0b0b0;
  color: #999999;
  display: inline-block;
  font-size: 13px;
}

/* ============================================
   Tríplice Aliança theme overrides
===============================================*/
:root {
  --triplice-teal: #009d94;
  --triplice-dark: #58595b;
  --triplice-brown: #996f37;
  --triplice-light: #d8dadc;
  --triplice-offwhite: #f0f1f2;
}

body {
  background-color: var(--triplice-offwhite);
  color: var(--triplice-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--triplice-dark);
}

a,
a:focus {
  color: var(--triplice-teal);
}

a:hover {
  color: var(--triplice-brown);
}

.header_top_area {
  background: var(--triplice-dark);
}

.header_top_menu a {
  border-right: 1px solid var(--triplice-light);
  color: var(--triplice-offwhite);
}

.header_top_menu a:hover {
  color: var(--triplice-teal);
}

.header_top_social i {
  color: var(--triplice-offwhite);
}

.header_bottom_area {
  background: var(--triplice-offwhite);
}

.main_menu .navbar-default .navbar-nav > li > a {
  color: var(--triplice-dark);
}

.main_menu .nav.navbar-nav li:hover > a,
.main_menu .navbar-default .navbar-nav > li.active > a {
  background: var(--triplice-light);
  color: var(--triplice-dark);
}

.main_menu .navbar-default .navbar-nav > li:last-child > a {
  background: var(--triplice-brown);
  color: #fff;
}

.main_menu .navbar-default .navbar-nav > li:last-child > a:hover {
  background: var(--triplice-teal);
}

.btn,
.btn-primary,
.btn-success {
  background: var(--triplice-teal);
  border-color: var(--triplice-teal);
  color: #fff;
}

.btn:hover,
.btn-primary:hover,
.btn-success:hover {
  background: var(--triplice-brown);
  border-color: var(--triplice-brown);
  color: #fff;
}

.breadcrumb_bg {
  background: var(--triplice-light);
}

.whitesmoke-bg {
  background: var(--triplice-offwhite);
}

.footer_top_area,
.footer_bottom_area {
  background: var(--triplice-dark);
}

.footer_area,
.footer_area p,
.footer_area li,
.footer_area a {
  color: var(--triplice-offwhite);
}

.footer_area a:hover {
  color: var(--triplice-teal);
}

.footer_widgets .widget_title {
  color: var(--triplice-offwhite);
}

.site_logo img,
.footer_fixed_img img {
  max-width: 220px;
  width: 100%;
  height: auto;
}

.footer_copyright li {
  color: var(--triplice-offwhite);
}

.footer_instagram_cta {
  margin-top: 15px;
}

.footer_instagram_cta a {
  color: var(--triplice-teal);
  font-weight: 600;
}

.single_why_hover {
  background: var(--triplice-teal);
}

.section_title h4,
.section_title h3 {
  color: var(--triplice-dark);
}

.section_title h4::after,
.section_title h3::after {
  background: var(--triplice-teal);
}

@media (max-width: 991px) {
  .header_top_menu,
  .header_top_social {
    text-align: center;
  }

  .header_top_menu ul,
  .header_top_social ul {
    display: inline-block;
    float: none;
  }

  .header_logo .site_logo {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .header_top_menu a {
    border-right: none;
    display: inline-block;
    padding: 6px 10px;
  }
}
